<% provide :title, "Sign in" %>
<h1>Sign in</h1>

<%= form_tag(sessions_path, :method => :post) do %>
  <div class="field">
    Email<br />
    <%= text_field_tag :email %>
  </div>
  <div class="field">
    Password<br />
    <%= text_field_tag :password %>
  </div>
  <div class="actions">
    <%= submit_tag "Sign in" %>
  </div>
<% end %>

<p>New user? <%= link_to "Sign up now!", signup_path %></p>

